:root {
  /* Colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333;
  --green: #c4f82a;
  --white: #fff;

  /* Typography - Font Family */
  --font-family: "Inter", sans-serif;
  --letter-spacing: 0;
  --line-height: 1.5;

  /* Text Preset 1 */
  --tp-1-size: 2.4rem;
  --tp-1-width: 700;

  /* Text Preset 2 */
  --tp-2-size: 1.4rem;
  --tp-2-weight: 400;

  /* Text Preset 2 Bold */
  --tp-2b-size: 1.4rem;
  --tp-2b-weight: 700;

  /* Spacing */
  --spacing-500: 4rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  font-size: var(--tp-2b-size);
  font-weight: var(--tp-2b-weight);
  color: var(--white);
  background-color: var(--grey-900);
  text-align: center;
  height: 100vh;
  padding: var(--spacing-300);

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-container {
  width: 100%;
  max-width: 38.4rem;
  background-color: var(--grey-800);
  border-radius: 1.2rem;
  padding: var(--spacing-500);
}

.social-img {
  width: 8.8rem;
  border-radius: 50%;
  margin-bottom: var(--spacing-300);
}

.social-name {
  font-size: var(--tp-1-size);
  font-weight: var(--tp-1-weight);
}

.social-location {
  color: var(--green);
  margin-bottom: var(--spacing-300);
}

.social-info {
  font-size: var(--tp-2-size);
  font-weight: var(--tp-2-weight);
  margin-bottom: var(--spacing-300);
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.social-link {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey-700);
  border-radius: 0.8rem;
  padding: var(--spacing-150);
}

.social-link:hover,
.social-link:active {
  color: var(--grey-900);
  background-color: var(--green);
}
