:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--grey-900);
  text-align: center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-container {
  width: 32rem;
  background-color: var(--grey-800);
  border-radius: 1rem;
  padding: 4rem 2rem;
}

.social-img {
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.social-name {
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.social-location {
  font-weight: 600;
  color: var(--green);
  margin-bottom: 2.5rem;
}

.social-info {
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-link {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey-700);
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.social-link:hover,
.social-link:active {
  color: var(--grey-900);
  background-color: var(--green);
}
